.content-wrapper {
    -webkit-box-flex: 1;
    flex-grow: 1;width: 100%;
    overflow: auto;
    grid-template-rows: 1fr;
    box-sizing: border-box;
    min-width: 0px;
    display: grid;

}

.rich-text-editable:focus {
    
    outline: none;
    border-color: blue;
}
.rich-text-editable {
    height: 100%;
    width: 100%;
    cursor: text;
    padding: 10px;
    min-height: 200px;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    border: 1px solid rgb(208, 213, 231);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
}


.content-para {
    
    min-width: 0px;
}

.toolbar-wrapper {
    display: flex;
    margin-left: 50px;
    flex-direction: row;
    gap: 20px;
}